<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Home | chatsy</title>
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href="/semantic.min.css" rel="stylesheet" type="text/css"/>
	<link href="/chatsy.css" rel="stylesheet" type="text/css"/>	
	<link href="/perfect-scrollbar.min.css" rel="stylesheet"  type="text/css"/>
	<style>
	 .ui.grid>.row {
		 width:	initial!important;
 	}
	 
	</style>
</head>
<body class="fonts-default" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0">
	<div class="ui inverted" id="header" style="width: 100%; height: 50px; background-color: #000; color: #fff">
		<a href="/home" style="font-size: 40px; text-decoration: none; padding: 2px"><span style="color: #ffd800;font-weight: bolder">chat</span><span style="color: #b6ff00; font-weight: bold">sy</span></a>
		alpha
	</div>
	<div class="ui grid" id="body" style="width:100%; height: 100%; position: absolute; top: 0; padding-top: 50px">
		<div class="row" style="height: 100%">
			<div class="three wide column" id="options-sidebar" style="padding: 0; height: 100%">
				<div class="ui inverted vertical menu" style="border-radius: 0; width: 100%; height: 100%">
					<a class="item" id="browsegroups-button">
						Browse groups
					</a>
					<a class="item" id="creategroup-button">
						Create a group
					</a>
					<a class="item" id="createdgroups-button">
						Created groups
					</a>
					<a class="item" id="starred-button">
						Starred/Bookmarked
					</a>
					<a class="active item" id="account-button">
						Account
					</a>
				</div>
			</div>
			<div class="thirteen wide column" style="padding: 20px; height: 100%;overflow: auto;" id="account-settings">
				<div id="account-alias">
					<div id="account-alias-label" style="display:  inline-block; font-size: 1.2em">alias :</div>
					<div id="account-alias-value" style="display:  inline-block; font-size: 1.5em; font-weight: bold">{{alias}}</div>
					<a href="#" id="account-alias-actionchange" style="font-size:  1.2em; font-weight:  bold; color:  darkblue">change</a>
					<div id="account-alias-changecontainer" style="display: none; padding: 5px 0px 5px 50px; min-width: 400px">
						<div style="margin-top: 5px">
							<div style="display: inline-block; min-width: 120px">new alias :</div>
							<div class="ui input" style="display: inline-block; min-width: 230px"><input id="account-alias-newalias" type="text"/></div>
						</div>
						<div style="margin-top:  5px">
							<div style="display: inline-block; min-width:  120px">confirm alias :</div>
							<div class="ui input" style="display: inline-block; min-width:  230px"><input id="account-alias-confirmnewalias" type="text"/></div>
						</div>
						<div style="margin-top:  5px" id="account-alias-actionchange-submit" class="ui button teal">
							change alias
						</div>
					</div>
				</div>
				<div id="account-type">
					<div id="account-type-label" style="display:  inline-block; font-size:  1.2em">status :</div>
					{{#if isPersistent}}
					<div id="account-type-value" style="display:  inline-block; font-size: 1.5em; font-weight: bold">white</div>
					<a href="#" id="account-type-actionchange" style="font-size:  1.2em; font-weight:  bold; color:  darkblue">change</a>
					{{else}}
					<div id="account-type-value" style="display:  inline-block; font-size: 1.5em; font-weight: bold">gray</div>
					<a href="#" id="account-type-actionchange" style="font-size:  1.2em; font-weight:  bold; color:  darkblue">change</a>
					<div id="account-type-changecontainer" style="display: none; min-width: 400px; padding: 5px 0px 5px 50px;">
						<div style="margin-top:  5px">
							<div style="display: inline-block; min-width:  120px">passkey :</div>
							<div class="ui input" style="display: inline-block; min-width: 230px"><input id="account-type-passkey" type="password"/></div>
						</div>
						<div style="margin-top: 5px">
							<div style="display: inline-block; min-width: 120px">confirm passkey :</div>
							<div class="ui input" style="display: inline-block; min-width:  230px"><input id="account-type-confirmpasskey" type="password"/></div>
						</div>
						<div style="margin-top: 5px" id="account-type-actionchange-submit" class="ui button teal">
							change status
						</div>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</div>

	<div class="ui modal" id="creategroup-modal">
		<div class="header">
			Create a Group
		</div>
		<div class="content">
			<div class="ui fluid input">
				<input type="text" id="creategroup-name-input" placeholder="Name"/>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="text" id="creategroup-description-input" placeholder="Description" style="resize: none; width: 100%"></textarea>
			</div>
			<div class="ui large checkbox top-marginned">
				<input type="checkbox" id="creategroup-visibility-checkbox">
				<label for="creategroup-visibility-checkbox">This group is visible to all</label>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="password" id="creategroup-key-input" placeholder="Pass Key"/>
			</div>
			<div class="ui red message">
				Empty Passkey field makes the group public
			</div>
		</div>
		<div class="actions">
			<div class="ui large teal button" id="creategroup-modal-submit">
				Create
			</div>
		</div>
	</div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.min.js" type="text/javascript"></script>
<script src="/semantic.min.js" type="text/javascript"></script>
<script src="/home.js" type="text/javascript"></script>
<script src="/perfect-scrollbar.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$('#account-alias-actionchange').click(function (e)
	{
		$('#account-alias-changecontainer').show();
	});
	$('#account-type-actionchange').click(function (e)
	{
		$('#account-type-changecontainer').show();
	});
	$('#account-alias-actionchange-submit').click(function (e)
	{
		$.ajax(
	    {
	    	url: '/account/changealias',
	    	type: 'POST',
	    	data:
	        {
	        	'newAlias': $('#account-alias-newalias').val(),
	        	'confirmNewAlias': $('#account-alias-confirmnewalias').val()
	        },
	    	success: function (data, status, jqXHR)
	    	{
	    		if (data.success == true)
	    		{
	    			Cookie('alias', null, -1);
	    			Cookie('alias', data.aliasCookie, undefined);
	    			$('#account-alias-value').text(data.alias);
	    			$('#account-alias-changecontainer').hide();
	    			$('#account-alias-newalias').val('');
					$('#account-alias-confirmnewalias').val('');
	    		}
	    	},
	    	error: function (jqXHR, err)
	    	{

	    	}
	    });
	});
	function Cookie(name, value, minutes)
	{
		var expires = "";
		if (minutes)
		{
			var date = new Date();
			date.setTime(date.getTime() + (minutes * 60 * 1000));
			expires = "; expires=" + date.toGMTString();
		}
		document.cookie = name + "=" + value + expires;
	}
</script>