<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
		<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
		<link href="/semantic.min.css" rel="stylesheet" type="text/css"/>
		<style>
			.ui.grid {
				margin: 0 0 0 -1.5%;
  			}
			.ui.grid>.column {
				margin-top: 0rem;
				margin-bottom: 0rem;
  			}
		</style>
		<link href="/chatsy.css" rel="stylesheet" type="text/css"/>
    </head>
    <body class="fonts-default" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0">
		<div class="ui inverted" id="header" style="width: 100%; height: 50px; background-color: #000; color: #fff">
		<a href="/home" style="font-size: 40px; text-decoration: none; padding: 2px"><span style="color: #ffd800;font-weight: bolder">chat</span><span style="color: #b6ff00; font-weight: bold">sy</span></a>
		alpha
	</div>
		<div style="height:89%; padding: 1% 1% 0% 1%">
		<div style="height: 4%">
			<span style="font-size: 20px">You joined the group: </span><span style="font-size:20px;font-weight: bold;color: #b6ff00">{{name}}</span>
		</div>
		<div id="chat-message" style="height: 89%; width: 75%; overflow-y: auto;word-wrap: break-word">
		
		</div>
		<div id="ui massive chat-inputcontainer" style="width: 75%;height: 6%">
			<textarea id="chat-input" style="resize: none; height: 100%;width: 100%" rows="3"></textarea>
		</div>
			</div>		
    </body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.min.js" type="text/javascript"></script>
<script src="/semantic.min.js" type="text/javascript"></script>

<script>
	var socket = io();
	var cookies = str_obj(document.cookie);
	var url = document.URL.split('/');
	var groupId = url[url.length - 1];
	socket.on('connect', function ()
	{
		socket.emit('join', groupId);
	});
	socket.on('send message', function (data)
	{
		console.log(data);
		$('#chat-message').append('<div class=\"ui grid\"><div class=\"two wide column\">' + data.sender + ':</div><div class=\"fourteen wide column\">' + data.message.replace('\n', '<br/>') + '</div></div>');
	});
	$('#chat-input').keydown(function (e)
	{
		if (e.keyCode == 13 && !e.shiftKey)
		{
			e.preventDefault();
			if ($('#chat-input').val() != '')
			{
				socket.emit('send message', { 'message': $('#chat-input').val(), 'groupId': groupId, 'sender': cookies['alias'] });
				$('#chat-input').val('');
			}
		}
	});
	function str_obj(str)
	{
		str = str.split(', ');
		var result = {};
		for (var i = 0; i < str.length; i++)
		{
			var cur = str[i].split('=');
			result[cur[0]] = cur[1];
		}
		return result;
	}
</script>