<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
	<link href="/semantic.min.css" rel="stylesheet" type="text/css"/>
	<link href="/chatsy.css" rel="stylesheet" type="text/css"/>
</head>
<body class="fonts-default">
	<div class="ui inverted vertical sidebar menu" id="options-sidebar">
		<div class="menu">
	<div class="item" id="browsegroups-button">
		Browse groups
	</div>
	<div class="item" id="creategroup-button">
		Create a group
	</div>
	<div class="item" id="changealias-button">
		Change alias
	</div>
		</div>
		</div>
	<div style="padding: 20px" id="browsegroups-list">
		<div class="ui grid">
			{{#each groups}}
			<div class="row">
				{{#if this.isPrivate}}
				<div class="twelve wide column">
					<p class="ui header"> 
						{{this.name}}
					</p>
					<p>
						{{this.description}}
					</p>
				</div>
				<div class="three wide column">
					<div class="ui input">
						<input type="password" id="joingroup-{{this._id}}-passkey-input" placeholder="Passkey"/>
					</div>
				</div>
				<div class="one wide column" style="margin-left: -2em">
					<div class="ui button teal" id="joingroup-{{this._id}}-button">
						Join
					</div>
				</div>
				{{else}}
				<div class="fifteen wide column">
					<p class="ui header"> 
						{{this.name}}
					</p>
					<p>
						{{this.description}}
					</p>
				</div>
				<div class="one wide column" style="margin-left: -2em">
					<div class="ui button teal" id="joingroup-{{this._id}}-button">
						Join
					</div>
				</div>
				{{/if}}
			</div>
			<div class="ui divider"></div>
			{{/each}}
		</div>		
	</div>

	<div class="ui modal" id="creategroup-modal">
		<div class="header">
			Create a Group
		</div>
		<div class="content">
			<div class="ui fluid input">
				<input type="text" id="creategroup-name-input" placeholder="Name"/>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="text" id="creategroup-description-input" placeholder="Description" style="resize: none; width: 100%"></textarea>
			</div>
			<div class="ui large checkbox top-marginned">
				<input type="checkbox" id="creategroup-visibility-checkbox">
				<label for="creategroup-visibility-checkbox">This group is visible to all</label>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="password" id="creategroup-key-input" placeholder="Pass Key"/>
			</div>
			<div class="ui red message">
				Empty Passkey field makes the group public
			</div>
		</div>
		<div class="actions">
			<div class="ui large teal button" id="creategroup-modal-submit">
				Create
			</div>
		</div>
	</div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.min.js" type="text/javascript"></script>
<script src="/semantic.min.js" type="text/javascript"></script>
<script src="/home.js" type="text/javascript"></script>