<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>chatsy</title>
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
	<link href="/semantic.min.css" rel="stylesheet" type="text/css"/>
	<link href="/chatsy.css" rel="stylesheet" type="text/css"/>	
	<style>
	 .ui.grid>.row {
		 width:	initial!important;
 	}
	</style>
</head>
<body class="fonts-default" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0">
	<div class="ui inverted" id="header" style="width: 100%; height: 50px; background-color: #000; color: #fff">
		<a href="/home" style="font-size: 40px; text-decoration: none; padding: 2px"><span style="color: #ffd800;font-weight: bolder">chat</span><span style="color: #b6ff00; font-weight: bold">sy</span></a>
		alpha
	</div>
	<div class="ui grid" id="body" style="height: 92.2%">
		<div class="row" style="height: 100%">
			<div class="three wide column" id="options-sidebar" style="padding: 0; height: 100%">
				<div class="ui inverted vertical menu" style="border-radius: 0; width: 100%; height: 100%">
					<a class="active item" id="browsegroups-button">
						Browse groups
					</a>
					<a class="item" id="creategroup-button">
						Create a group
					</a>
					<a class="item" id="createdgroups-button">
						Created groups
					</a>
					<a class="item" id="starred-button">
						Starred/Bookmarked
					</a>
					<a class="item" id="account-button">
						Account
					</a>
				</div>
			</div>
			<div class="thirteen wide column" style="padding: 20px; height: 100%;overflow: auto; background-color: darkgray; padding-top:  5px" id="browsegroups-container">
				<div class="ui grid" id="browsegroups-list">
					{{#each groups}}
					<div class="row" style="padding: 10px; background-color: #efefef; box-shadow: 1px 1px 1px 1px gray; margin-left:  10px; margin-right:  10px; margin-top:  5px">
						{{#if this.isPrivate}}
						<div class="twelve wide column">
							<p class="ui header">{{this.name}}</p>
							<p>{{this.description}}</p>
						</div>
						<div class="four wide column" style="text-align: right">
							<div class="ui action input">
								<input type="password" id="joingroup-{{this._id}}-passkey-input" placeholder="Passkey"/>
								<div class="ui button teal" id="joingroup-{{this._id}}-button">
									Join
								</div>	
							</div>
						</div>
						{{else}}
						<div class="twelve wide column">
							<p class="ui header">{{this.name}}</p>
							<p>{{this.description}}</p>
						</div>
						<div class="four wide column" style="text-align: right">
							<div class="ui button teal" id="joingroup-{{this._id}}-button">
								Join
							</div>
						</div>
						{{/if}}
					</div>					
					{{/each}}
				</div>		
			</div>
			<div class="thirteen wide column" style="padding: 20px; height: 100%;overflow: auto; display: none; background-color: DarkGray; padding-top:  5px" id="createdgroups-container">
				<div class="ui grid" id="createdgroups-list">
				
				</div>
			</div>
			<div class="thirteen wide column" style="padding: 20px; height: 100%;overflow: auto; display: none" id="starredgroups-list">
			</div>
			<div class="thirteen wide column" style="padding: 20px; height: 100%;overflow: auto; display: none" id="account-settings">
			</div>
		</div>
	</div>

	<div class="ui modal" id="creategroup-modal">
		<div class="header">
			Create a Group
		</div>
		<div class="content">
			<div class="ui fluid input">
				<input type="text" id="creategroup-name-input" placeholder="Name"/>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="text" id="creategroup-description-input" placeholder="Description" style="resize: none; width: 100%"></textarea>
			</div>
			<div class="ui large checkbox top-marginned">
				<input type="checkbox" id="creategroup-visibility-checkbox">
				<label for="creategroup-visibility-checkbox">This group is visible to all</label>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="password" id="creategroup-key-input" placeholder="Pass Key"/>
			</div>
			<div class="ui red message">
				Empty Passkey field makes the group public
			</div>
		</div>
		<div class="actions">
			<div class="ui large teal button" id="creategroup-modal-submit">
				Create
			</div>
		</div>
	</div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.min.js" type="text/javascript"></script>
<script src="/semantic.min.js" type="text/javascript"></script>
<script src="/home.js" type="text/javascript"></script>