<!DOCTYPE html>
<html>
<head>
<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
<link href="/semantic.min.css" rel="stylesheet" type="text/css"/>
<link href="/chatsy.css" rel="stylesheet" type="text/css"/>
</head>
<body class="fonts-default">
	<div class="ui button" id="browsegroups-button">
		Browse groups
	</div>
	<div class="ui button" id="creategroup-button">
		Create a group
	</div>
	<div class="ui button" id="changealias-button">
		Change alias
	</div>
	<div style="display: none" id="browsegroups-list">
		
	</div>

	<div class="ui modal" id="creategroup-modal">
		<div class="header">
			Create a Group
		</div>
		<div class="content">
			<div class="ui fluid input">
				<input type="text" id="creategroup-name-input" placeholder="Name"/>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="text" id="creategroup-description-input" placeholder="Description" style="resize: none; width: 100%"></textarea>
			</div>
			<div class="ui large checkbox top-marginned">
				<input type="checkbox" id="privacy-checkbox">
				<label for="privacy-checkbox">This is a private group</label>
			</div>
			<div class="ui fluid input top-marginned">
				<input type="password" id="creategroup-key-input" placeholder="Pass Key"/>
			</div>
			<div class="ui red message">
				Leaving the Pass Key empty makes the group public.
			</div>
		</div>
		<div class="actions">
			<div class="ui large teal button" id="creategroup-modal-submit">
				Create
			</div>
		</div>
	</div>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.min.js" type="text/javascript"></script>
<script src="/semantic.min.js" type="text/javascript"></script>
<script>
	var socket = io();
	$('#creategroup-button').click(function ()
	{
		$('#creategroup-modal').modal('show');
	});
	$('#creategroup-modal-submit').click(function ()
	{
		var cookies = str_obj(document.cookie);
		$.ajax({
			type: 'POST',
			url: '/groups/create',
			data: {
				'alias': cookies['alias'],
				'name': $('#creategroup-name-input').val(),
				'description': $('#creategroup-description-input').val(),
				'key': $('#creategroup-key-input').val()
			},
			success: function (data, status, jqXHR)
			{
				if (status === "success")
				{
					$('#creategroup-modal').modal('hide');
				} else
				{
					//Error handling
				}
			}
		});
	});
	$('#browsegroups-button').click(function ()
	{
		$('#browsegroups-list').empty();
		$.ajax({
			type: 'GET',
			url: '/groups',
			success: function (data, status, jqXHR)
			{
				$('#browsegroups-list').append("<div class=\"ui divider\"></div>");
				for (var i = 0; i < data.length; i++)
				{
					var element = "<div class=\"ui grid\"><div class=\"row\"><div class=\"eleven wide column\"><p class=\"ui header\">" + data[i].name + "</p><p>" + data[i].description + "</p></div><div class=\"one wide column\"><div class=\"ui button teal\" id=\"buttonjoin-" + data[i]._id + "\">Join</div></div></div><div class=\"ui divider\"></div></div>";
					$('#browsegroups-list').append(element);
				}
				$('#browsegroups-list').show();
				$("div[id^='buttonjoin']").each(function ()
				{
					$(this).click(function ()
					{
						window.location.href = "/groups/" + $(this).attr('id').split('-')[1];
					});
				});
			}
		});
	});

	function str_obj(str)
	{
		str = str.split(', ');
		var result = {};
		for (var i = 0; i < str.length; i++)
		{
			var cur = str[i].split('=');
			result[cur[0]] = cur[1];
		}
		return result;
	}
</script>
